@import '/src/app.scss';

.logoBttNavbar{
    width: 20vw; 
    height: 8vh; 
    max-width: 20vw;
    min-width: 2vw;
}.navbarContainer{
    background-color: $color-bg-blue-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.iconHamburg{
    color: $color-font-white;
    
}.optionsHamburg{
    background-color: $color-btt-blue-medium;


}