@import '../app.scss';


.imageAbout{
    background-image: url(src/assets/slogandos.png);
    background-position: bottom right;
    height: 17vh;
    width: 50vw;
    min-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}.aboutUsContent{
    height: 17vh;
    width: 50vw;
    min-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}.titleAbout{
    color: $color-font-blue-dark;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}.titleAds{
    color: $color-font-blue-dark;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    height: 6vh;
    width: 50vw;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}.slogan{
    color: $color-font-blue-dark;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;

}.btn-check:checked+.btn {
      background-color: $color-btt-blue-ligth;

}.bttBorder {
  margin-left: 35%;
    .btn-outline-primary {
      color: $color-btt-blue-ligth;
      border-color: $color-btt-blue-ligth;
      &:hover {
        color: white;
        background-color: $color-btt-blue-ligth;
        border-color: $color-btt-blue-ligth;
      }
      &:active,
      &:focus {
        color: white;
        background-color: $color-btt-blue-ligth;
        border-color: $color-btt-blue-ligth;
        box-shadow: none;
      }
    }
      
    }.containerBtt{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
  }.searchForm {
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .form-control {
      border-radius: 20px;
      border-color: #ced4da;
      
    }
  
    .btn-outline-success {
      border-radius: 20px;
      margin-left: 10px;
      width: 30vw;
      color: $color-font-white;
      font-weight: 500;
      border-color: $color-btt-blue-medium;
      background-color: $color-btt-blue-ligth;
    }
  }.searchContainer{
    display: flex;
    justify-content: space-evenly;
  }